body {
    background-color: #f4f2ef !important;
}
.navbar {
    position : initial!important;
    background-color: #43456e !important;
}
.nav-link {
    color : black;
}
#bandeau{
    background-color: #323448 !important;
}
#commande {
    padding-top: 180px !important;
}
.fa.fa-users, .fa.fa-user-plus, .fa.fa-server {
    font-size: 150px;
}
.fa.fa-server {
    color: green;
}
.fa.fa-users {
    color: blue;
}
.fa.fa-user-plus {
    color: red;
}
.fa.fa-power-off{
    font-size: 30px;
    color: red;
}
.fa.fa-address-card {
    font-size: 30px;
    color: #007bff;
}
.fa.fa-trash.ml-3{
    font-size: 30px;
    color: red;
}