{% extends "layout.html.twig" %}
{% block title %}{{ parent() }} - Nouveau Client{% endblock %}
{% block nav %}
            <a href="index.php?action=deconnexion"><i class="fa fa-power-off"></i></a>
{% endblock %}
{% block content %}
<div class="container">

        <div class="text-center">
            <i class="fa fa-user-plus"></i>
            <h2>Création Client</h2>
        </div><!-- /.col-lg-4 -->
    <!-- Material form register -->
    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Ajout Client</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-5">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" method="post" action="">

                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" id="nom" name="nom" value="{{ client.nom }}" required>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <label for="validationTooltip02">Prenom</label>
                            <input type="text" class="form-control" id="prenom" name="prenom" required>
                        </div>
                    </div>
                </div>

                <!--- adresse ---->
                <div class="form-row">
                        <div class="col">
                            <!-- First name -->
                            <div class="md-form">
                                <label for="validationTooltipUsername">Mail</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                                    </div>
                                    <input type="text" class="form-control" id="mail"aria-describedby="validationTooltipUsernamePrepend" name="mail" required>
                                </div>
                            </div>
                        </div>
                            <div class="col">
                            <!-- Last name -->
                                <div class="md-form">
                                    <label for="validationTooltip03">Ville</label>
                                    <input type="text" class="form-control" id="ville" name="ville" required>
                                </div>
                            </div>
                            
                </div>
                <div class="form-row">
                        <div class="col">
                            <!-- Last name -->
                            <div class="md-form">
                                <label for="validationTooltip05">Zip</label>
                                <input type="text" class="form-control" id="zip" name="zip" required>
                            </div>
                        </div>
                        
                        <div class="col">
                            <!-- Last name -->
                            <div class="md-form">
                                <label for="validationTooltip05">Contact</label>
                                <input type="text" class="form-control" id="contact" name="contact" required>
                            </div>
                        </div>
                </div>


                    <!-- Sign up button -->
                    <div class="text-center mt-5">
                        <p><button class="btn btn-primary" type="submit">Enregistrer</button></p>
                    </div>


                    <!-- Social register -->
                    <p>or sign up with:</p>

                    <a type="button" class="btn-floating btn-fb btn-sm">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <a type="button" class="btn-floating btn-tw btn-sm">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a type="button" class="btn-floating btn-git btn-sm">
                        <i class="fa fa-github"></i>
                    </a>

                    <hr>

            </form>
            <!-- Form -->

        </div>

    </div>
    <!-- Material form register -->
</div>
{% endblock %}